* {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: rgb(9, 8, 15);
}

.center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #1c0cff;
    }

    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #77009b;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #04a1c8;
    }
}

.ring:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, .3);
}

span {
    color: #c5c5c5;
    font-size: 17px;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out infinite;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

@keyframes text {
    50% {
        color: black;
    }
}

.otro {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 300px;
    margin-right: 150px;
}

button {
    width: 140px;
    padding: 12px;
    background-color: #1c0cff;
    border: none;
    border-radius: 10px;
    color: #fff;
}

a {
    display: flex;
    justify-content: center;
}

.tex-precio {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.precio {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-weight: 100;
    margin: 1px;
}

.container-upd {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-but-upd {
    width: 300px;
    display: flex;
    justify-content: flex-start;
}

.but-upd {
    width: 110px;
    border-radius: 15px 15px 0px 0px;
    margin-right: 2px;
}

.container-img-upd {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-upd {
    width: 300px;
}

.ver-upd {
    width: 301px;
    padding: 20px;
    background-color: #ff0c7d;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 50px;
}

p {
    color: #fff;
    font-size: 13px;
    text-align: center;
    margin-bottom: 100px;
}

.red {
    width: 100%;
    height: 60px;
    margin-bottom: 99px;
    display: flex;
    justify-content: center;
    background-color: rgb(7, 3, 43);

}

.logo {
    width: 40px;
    margin: 10px;
}


.compartir {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.pop-tex{
    color: #000;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    bottom: 30px;
}
.anun{
    background-color: #eeeeee;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-anun{
    width: 200px;
}
.ver-mas-1{
    width: 100px;
    height: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.portada{
    width: 200px;
    height: auto;
    margin: 5px;
}
.container-a{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.container-b{
    border-radius: 20px 20px 10px 10px;
    width: 300px;
    height: 1000px;
    height: auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.numero-juan{
    width: 200px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

/*anun*/

.text{
    width: 100%;
    height: 600px;
    background-color: red;
}
.img-per{
    width: 400px;
    height: 90px;
}
@media screen and (max-width:600px){
    .img-per{
        width: 350px;
        height: 90px;
    }
}
@media screen and (max-width:600px){
    .des{
    display: none;
}
}

.caja{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    background-color: rgb(29, 29, 29);
}
.contenedor{
    width: 100%;
    overflow: hidden;
   
}

.slider-contenedor{
    width: 100%;
    display: flex;
}

.contenido-slider{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.contenido-slider:nth-child(2){
    background: #000000;
    color: #fff;
}

.contenido-slider:nth-child(3){
    background: #252525;
}

.contenido-slider > img{
    width: 400px;
}

.contenido-slider > div{
    width: 40%;
}
.bt-link{
    background-color: #000;
    width: 100px;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.bt-link-1{
    background-color: #000;
    width: 100px;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.img-game{
    width: 300px;
    border-radius: 20px;
}
.container-game{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.bt-game{
    width: 300px;
    padding: 10px;
}
/*
.contenido-slider a{
    color: #fff;
    background: #ffffff;
    width: 100px;
    display: block;
    padding: 10px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}
*/
.contenido-slider:nth-child(2) a{
    background: #fff;
    color: #fafafa;
}
/*
@media screen and (max-width:900px){
    .contenido-slider > img{
        width: 250px;
    }

    .contenido-slider > div{
        width: 40%;
    }

    .contenido-slider h2{
        font-size: 23px;
    }
}


@media screen and (max-width:600px){
    .contenido-slider{
       flex-direction: column-reverse;
    }

    .contenido-slider > div{
        width: 80%;
    }

}
*